// FONTS

$font-stack: 'Open Sans', sans-serif;

// Font Weights
$font-light: 300;
$font-normal: 400;
$font-medium: 600;
$font-bold: 700;

// Font Mixin
@mixin font($weight) {
    font-family: $font-stack;
    font-weight: $weight;
}